---
import Link from '@/components/Link.astro';
import BaseLayout from './BaseLayout.astro';
import type { SEOProps } from '@/components/SEO.astro';

type Props = SEOProps & {
  publishedTime?: Date;
  modifiedTime?: Date;
  tags?: string[];
  author?: string;
};

const { 
  title = 'Primidi | Posts', 
  description = '',
  publishedTime,
  modifiedTime,
  tags = [],
  author = 'Gharis Primada Hariyono',
  ...otherProps 
} = Astro.props;
---

<BaseLayout 
  title={title} 
  description={description}
  type="article"
  publishedTime={publishedTime}
  modifiedTime={modifiedTime}
  tags={tags}
  author={author}
  {...otherProps}
>
  <div class="mx-6 my-8 flex flex-col gap-y-6 md:mx-16 lg:mx-72">
    <Link href="/" class="flex gap-x-2 font-semibold">
      <img src="/arrow.svg" class="rotate-180" alt="arrow-left" />
      Back to Home
    </Link>
    <div class="flex flex-col items-center gap-y-4">
      <slot />
    </div>
  </div>
</BaseLayout>